*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #36494E;
    text-align: center;
}
.contaner{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.80rem;
    

}
.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  justify-content: center;
  align-items: center;
  color: #597081;
  background-color: #DBD5B5;
font-size: 8vmin;

}
#restbtn{
    height: 3rem;
    width: 7rem;
    border-radius: 1rem;
    border: none;
    background-color: #272D2D;
    color: white;

}
.msg-contaner{ 
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}
#new-btn{
    height: 3rem;
    width: 7rem;
    border-radius: 1rem;
    border: none;
    background-color: #272D2D;
    color: white
}
#msg{
    color:#DBD5B5;
    font-size: 5vmin;

}
.hide{
    display: none;
}